# Capstone project

In [33]:
import pandas as pd
import numpy as np
import folium as f

<h2>1. Introduction to the problem

For a long time, car collisions have been the center of commuter's stress points. And since everyone owns a car in the US, the statement that most Americans are also commuters is hardly an understatement. Whether if the collision happens to us, our loved ones, or a stranger it all affects us equally financially or emotionally or just getting stuck in traffic. Hence we are all stakeholders here. So what conditions can cause collision? Can we avoid it? And let's face it, since collisions happen so frequently, if we can't completely avoid it, can we at least choose an option that minimizes the severity?

<h2>2. Data

The data we will be using is provided by SPD(seattle police department) and recorded by Traffic Records. The time frame of the data starts from 2004 to present and it has been updated weekly. The data consists of 194673 collisions and 37(not counting index) attributes/columns with the target/dependent variable/feature 'SEVERITYCODE' and 36 independent variables/features. Although metadata dictates that there are 85 severity codes(0-84), the data frame consists of only 1(136486) or 2(58188). Therefore, each attribute will be used to classify whether they belong to 'SEVERITYCODE' 1 or 2. Before that, we will fill the missing values or deleted columns with large amount of missing values. After the data is properly prepared, we will encode the categorical features and normalize it along with numerical features before testing their relevance to target variable 'SEVERITYCODE'. The final step will be to select a hand full of relevant features and feed it to the model.

In [74]:
df = pd.read_csv('../Data-Collisions.csv')

C:\Users\leo\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [75]:
df.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [10]:
df.shape

(194673, 38)

In [13]:
df['SEVERITYCODE'].value_counts().to_frame()

   SEVERITYCODE
1        136485
2         58188

1 = Vehicle Turning Right Hits Pedestrian <br/>
2 = Vehicle Turning Left Hits Pedestrian <br/>
It seems like you are more likely to get hit by a vheical turning right than left.

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194673 entries, 0 to 194672
Data columns (total 38 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   SEVERITYCODE    194673 non-null  int64
 1   X               189339 non-null  float64
 2   Y               189339 non-null  float64
 3   OBJECTID        194673 non-null  int64
 4   INCKEY          194673 non-null  int64
 5   COLDETKEY       194673 non-null  int64
 6   REPORTNO        194673 non-null  object
 7   STATUS          194673 non-null  object
 8   ADDRTYPE        192747 non-null  object
 9   INTKEY          65070 non-null   float64
 10  LOCATION        191996 non-null  object
 11  EXCEPTRSNCODE   84811 non-null   object
 12  EXCEPTRSNDESC   5638 non-null    object
 13  SEVERITYCODE.1  194673 non-null  int64
 14  SEVERITYDESC    194673 non-null  object
 15  COLLISIONTYPE   189769 non-null  object
 16  PERSONCOUNT     194673 non-null  int64
 17  PEDCOUNT        194673 non-null  int64
 18  PEDCYLCOUNT     194673 non-null  int64
 19  VEHCOUNT        194673 non-null  int64
 20  INCDATE         194673 non-null  object
 21  INCDTTM         194673 non-null  object
 22  JUNCTIONTYPE    188344 non-null  object
 23  SDOT_COLCODE    194673 non-null  int64
 24  SDOT_COLDESC    194673 non-null  object
 25  INATTENTIONIND  29805 non-null   object
 26  UNDERINFL       189789 non-null  object
 27  WEATHER         189592 non-null  object
 28  ROADCOND        189661 non-null  object
 29  LIGHTCOND       189503 non-null  object
 30  PEDROWNOTGRNT   4667 non-null    object
 31  SDOTCOLNUM      114936 non-null  float64
 32  SPEEDING        9333 non-null    object
 33  ST_COLCODE      194655 non-null  object
 34  ST_COLDESC      189769 non-null  object
 35  SEGLANEKEY      194673 non-null  int64
 36  CROSSWALKKEY    194673 non-null  int64
 37  HITPARKEDCAR    194673 non-null  object
dtypes: float64(4), int64(12), object(22)
memory usage: 56.4+ MB

In [14]:
df['ROADCOND'].value_counts().to_frame()

                ROADCOND
Dry               124510
Wet                47474
Unknown            15078
Ice                 1209
Snow/Slush          1004
Other                132
Standing Water       115
Sand/Mud/Dirt         75
Oil                   64

contrary to my inital belief that more collisions happen on wet or ice roads, most collisions happens just on dry road condition. But that could be because there are simply more cars on the road during dry conidtion(however seattle has good amount of raining seasons...)

In [19]:
df.groupby(['ROADCOND'])['SEVERITYCODE'].value_counts()

ROADCOND        SEVERITYCODE
Dry             1               84446
                2               40064
Ice             1                 936
                2                 273
Oil             1                  40
                2                  24
Other           1                  89
                2                  43
Sand/Mud/Dirt   1                  52
                2                  23
Snow/Slush      1                 837
                2                 167
Standing Water  1                  85
                2                  30
Unknown         1               14329
                2                 749
Wet             1               31719
                2               15755
Name: SEVERITYCODE, dtype: int64

In [57]:
lat = df['X']
lon = df['Y']
lon

47.70314032

In [44]:
m = f.Map(location=[47.6062, -122.3321])

In [62]:
for i in range(0,len(lat)):
    f.Marker([lon[i], lat[i]]).add_to(m)

ValueError: Location values cannot contain NaNs.